.footer {
  background: #464547;
  padding-left: 153px;
  padding-top: 39px;
  padding-right: 148px;
  padding-bottom: 90px;
  display: flex;

  &__container {
    display: flex;

    &__logo {
      display: flex;
      gap: 16px;
      height: 20px;
      margin-right: 79px;

      &__title {
        font-family: $heading-font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $primary-text-color;
      }
    }

    &__contacts {
      display: flex;
      width: 683px;
      justify-content: space-between;

      &__address {
        &__loc {
          font-family: $heading-font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $footer-text-color;
        }

        &__email {
          margin-top: 21px;
          &__mailto {
            font-family: $heading-font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $footer-text-color;
          }
        }
      }

      &__rights {
        font-family: $heading-font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $footer-text-color;
        align-self: flex-end;
      }
    }
  }
}
