.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header {
  &__container {
    display: flex;
    padding-top: 44px;
    padding-left: 152px;
    &__logo-title {
      font-family: $heading-font-family;
      font-weight: 600;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $primary-text-color;
      text-decoration: none;
      margin-right: 165px;
    }
  }
}

.nav {
  margin-top: 3px;
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 28px;
  }
  &__link {
    font-family: $heading-font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $primary-text-color;
    text-decoration: none;
    padding-bottom: 3px;

    &__active {
      border-bottom: 2px solid $primary-text-color;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 22px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  &__line {
    width: 22px;
    height: 3px;
    background: $primary-text-color;
    margin: 2px 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
}

.burger:hover .burger__line {
  background-color: $btn-color;
}
