.hero {
  position: relative;
  padding-bottom: 47px;

  &__bg {
    width: 100%;
    height: 822px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -65px;
    right: 0px;
    z-index: -1;

    &__stars {
      position: absolute;
      object-fit: cover;
      object-position: left top;
      width: 100%;
      height: 822px;
    }
    &__shine {
      position: absolute;
      object-fit: cover;
      object-position: left top;
      width: 100%;
      height: 822px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__logo {
      margin-top: 209px;
    }

    &__title {
      font-family: $body-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: $primary-text-color;
      margin-top: 14px;
    }

    &__subtitle {
      font-family: $heading-font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: $subtitle-text-color;
      margin-top: 32px;
      margin-bottom: 200px;
    }
  }
}

.main {
  padding-bottom: 67px;
  background-color: #eeeeee;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-family: $body-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: $secondary-text-color;
      margin-top: 66px;
    }
    &__title2 {
      margin-bottom: 30px;
      font-family: $body-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: $secondary-text-color;
    }
    &__subtitle {
      font-family: $heading-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: $main-text-color;
    }
    &__texts {
      display: flex;
      width: 907px;
      height: 172px;
      margin-top: 37px;
      gap: 76px;

      &__text {
        font-family: $heading-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: start;
        color: $main-text-color;
        max-width: 416px;
      }
    }

    &__read-more-btn {
      width: 115px;
      height: 36px;
      background: $btn-color;
      border-radius: 18px;
      font-family: $body-font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.1em;
      text-align: center;
      color: $primary-text-color;
      border: none;
      margin-top: 47px;
      margin-bottom: 30px;
    }
  }
}

.learn-more {
  background-image: url(assets/bg-second.png);
  background-repeat: no-repeat;
  background-position: center -14px;
  background-size: cover;
  height: 637px;
  position: relative;
  &:before {
    background-color: rgba(140, 79, 42, 0.3);
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-family: $body-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: $primary-text-color;
      margin-top: 80px;
      letter-spacing: -1px;
      width: 432px;
      margin-left: 6px;
    }

    &__play-btn {
      width: 145px;
      height: 145px;
      background: $btn-color;
      border-radius: 80px;
      font-size: 57px;
      color: $primary-text-color;
      border: none;
      margin-top: 46px;
      margin-left: 10px;

      & span {
        margin-left: 12px;
      }
    }

    &__subtitle {
      font-family: $heading-font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: $primary-text-color;
      width: 351px;
      margin-top: 55px;
      margin-left: -8px;
    }
  }
}
