* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url(assets/fonts/Oswald/static/Oswald-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Oswald";
  src: url(assets/fonts/Oswald/static/Oswald-Regular.ttf);
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header__container {
  display: flex;
  padding-top: 44px;
  padding-left: 152px;
}
.header__container__logo-title {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-right: 165px;
}

.nav {
  margin-top: 3px;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 28px;
}
.nav__link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 3px;
}
.nav__link__active {
  border-bottom: 2px solid #ffffff;
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}
.burger__line {
  width: 22px;
  height: 3px;
  background: #ffffff;
  margin: 2px 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.burger:hover .burger__line {
  background-color: #55c2d8;
}

.hero {
  position: relative;
  padding-bottom: 47px;
}
.hero__bg {
  width: 100%;
  height: 822px;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -65px;
  right: 0px;
  z-index: -1;
}
.hero__bg__stars {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  width: 100%;
  height: 822px;
}
.hero__bg__shine {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  width: 100%;
  height: 822px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.hero__container__logo {
  margin-top: 209px;
}
.hero__container__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}
.hero__container__subtitle {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 32px;
  margin-bottom: 200px;
}

.main {
  padding-bottom: 67px;
  background-color: #eeeeee;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  margin-top: 66px;
}
.main__container__title2 {
  margin-bottom: 30px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.main__container__subtitle {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.main__container__texts {
  display: flex;
  width: 907px;
  height: 172px;
  margin-top: 37px;
  gap: 76px;
}
.main__container__texts__text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #666666;
  max-width: 416px;
}
.main__container__read-more-btn {
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 47px;
  margin-bottom: 30px;
}

.learn-more {
  background-image: url(assets/bg-second.png);
  background-repeat: no-repeat;
  background-position: center -14px;
  background-size: cover;
  height: 637px;
  position: relative;
}
.learn-more:before {
  background-color: rgba(140, 79, 42, 0.3);
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.learn-more__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-more__container__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
  letter-spacing: -1px;
  width: 432px;
  margin-left: 6px;
}
.learn-more__container__play-btn {
  width: 145px;
  height: 145px;
  background: #55c2d8;
  border-radius: 80px;
  font-size: 57px;
  color: #ffffff;
  border: none;
  margin-top: 46px;
  margin-left: 10px;
}
.learn-more__container__play-btn span {
  margin-left: 12px;
}
.learn-more__container__subtitle {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 351px;
  margin-top: 55px;
  margin-left: -8px;
}

.footer {
  background: #464547;
  padding-left: 153px;
  padding-top: 39px;
  padding-right: 148px;
  padding-bottom: 90px;
  display: flex;
}
.footer__container {
  display: flex;
}
.footer__container__logo {
  display: flex;
  gap: 16px;
  height: 20px;
  margin-right: 79px;
}
.footer__container__logo__title {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__container__contacts {
  display: flex;
  width: 683px;
  justify-content: space-between;
}
.footer__container__contacts__address__loc {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.footer__container__contacts__address__email {
  margin-top: 21px;
}
.footer__container__contacts__address__email__mailto {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.footer__container__contacts__rights {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  align-self: flex-end;
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    overflow: hidden;
  }
  .header__container {
    padding-top: 37px;
    padding-left: 27px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .header__container__logo-title {
    margin-right: 0;
  }
  .nav {
    display: none;
  }
  .burger {
    display: flex;
  }
  .hero {
    padding-bottom: 35px;
  }
  .hero__bg {
    background-position: right;
  }
  .hero__bg__stars {
    -o-object-position: right top;
       object-position: right top;
  }
  .hero__bg__shine {
    -o-object-position: right top;
       object-position: right top;
  }
  .hero__container__logo {
    margin-top: 199px;
  }
  .hero__container__title {
    margin-top: 21px;
  }
  .main {
    padding-bottom: 87px;
  }
  .main__container__title {
    letter-spacing: -1px;
    margin-top: 65px;
  }
  .main__container__title2 {
    width: 333px;
  }
  .main__container__subtitle {
    margin-top: 16px;
    margin-left: 25px;
  }
  .main__container__texts {
    flex-direction: column;
    padding-left: 10px;
    width: 445px;
    height: 183px;
    margin-top: 44px;
    gap: 31px;
  }
  .main__container__texts__text {
    max-width: 434px;
  }
  .main__container__read-more-btn {
    margin-top: 179px;
    margin-bottom: 30px;
  }
  .learn-more {
    background-position: center 0px;
  }
  .learn-more__container__title {
    margin-top: 71px;
    margin-left: 26px;
    letter-spacing: -1px;
  }
  .learn-more__container__play-btn {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    font-size: 40px;
  }
  .learn-more__container__play-btn span {
    margin-left: 6px;
  }
  .learn-more__container__subtitle {
    width: 396.32px;
    margin-top: 83px;
  }
  .footer {
    padding: 0;
    padding-bottom: 150px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__container__logo {
    margin: 0;
    margin-top: 57px;
    margin-left: -24px;
  }
  .footer__container__contacts {
    flex-direction: column;
    width: 243px;
    text-align: center;
    margin-top: 26px;
    margin-left: -10px;
  }
  .footer__container__contacts__address__email {
    margin-top: 12px;
  }
  .footer__container__contacts__rights {
    align-self: unset;
    margin-top: 23px;
    margin-left: 13px;
  }
}
.hero__bg__stars {
  transform-origin: right center;
  -webkit-animation: stars 2s ease infinite alternate;
          animation: stars 2s ease infinite alternate;
}

.hero__bg__shine {
  -webkit-animation: shine 2s ease infinite alternate;
          animation: shine 2s ease infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes stars {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}
@keyframes stars {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}
.hero__container__logo {
  transition: transform 0.6s, visibility ease-in-out;
}

.hero__container__logo:hover {
  transform: rotateY(0.5turn) scale(1.3);
}

.main__container__read-more-btn {
  transition: transform 0.5s, visibility 0.5s ease-in-out;
  transform-origin: left;
}

.main__container__read-more-btn:hover {
  transform: rotate(10deg);
}

.learn-more__container__play-btn {
  transition: transform 0.5s, visibility 0.5s ease-in-out;
}

.learn-more__container__play-btn:hover {
  background: #ffffff;
  color: #39c2d7;
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */