@font-face {
  font-family: 'Source Sans Pro';
  src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url(assets/fonts/Oswald/static/Oswald-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url(assets/fonts/Oswald/static/Oswald-Regular.ttf);
  font-weight: 400;
}
