.hero__bg__stars {
  transform-origin: right center;
  animation: stars 2s ease infinite alternate;
}

.hero__bg__shine {
  animation: shine 2s ease infinite alternate;
  animation-delay: 1s;
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stars {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

.hero__container__logo {
  transition: transform 0.6s, visibility ease-in-out;
}

.hero__container__logo:hover {
  transform: rotateY(0.5turn) scale(1.3);
}

.main__container__read-more-btn {
  transition: transform 0.5s, visibility 0.5s ease-in-out;
  transform-origin: left;
}

.main__container__read-more-btn:hover {
  transform: rotate(10deg);
}

.learn-more__container__play-btn {
  transition: transform 0.5s, visibility 0.5s ease-in-out;
}

.learn-more__container__play-btn:hover {
  background: #ffffff;
  color: #39c2d7;
  transform: scale(1.1);
}
