@media (max-width: 768px) {
  .container {
    max-width: 480px;
    overflow: hidden;
  }

  .header {
    &__container {
      padding-top: 37px;
      padding-left: 27px;
      padding-right: 20px;
      justify-content: space-between;
      align-items: center;
      &__logo-title {
        margin-right: 0;
      }
    }
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .hero {
    padding-bottom: 35px;
    &__bg {
      background-position: right;
      &__stars {
        object-position: right top;
      }
      &__shine {
        object-position: right top;
      }
    }
    &__container {
      &__logo {
        margin-top: 199px;
      }
      &__title {
        margin-top: 21px;
      }
    }
  }

  .main {
    padding-bottom: 87px;
    &__container {
      &__title {
        letter-spacing: -1px;
        margin-top: 65px;
      }
      &__title2 {
        width: 333px;
      }
      &__subtitle {
        margin-top: 16px;
        margin-left: 25px;
      }
      &__texts {
        flex-direction: column;
        padding-left: 10px;
        width: 445px;
        height: 183px;
        margin-top: 44px;
        gap: 31px;
        &__text {
          max-width: 434px;
        }
      }
      &__read-more-btn {
        margin-top: 179px;
        margin-bottom: 30px;
      }
    }
  }

  .learn-more {
    background-position: center 0px;
    &__container {
      &__title {
        margin-top: 71px;
        margin-left: 26px;
        letter-spacing: -1px;
      }
      &__play-btn {
        width: 100px;
        height: 100px;
        margin-top: 80px;
        font-size: 40px;
        & span {
          margin-left: 6px;
        }
      }
      &__subtitle {
        width: 396.32px;
        margin-top: 83px;
      }
    }
  }
  .footer {
    padding: 0;
    padding-bottom: 150px;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__logo {
        margin: 0;
        margin-top: 57px;
        margin-left: -24px;
      }
      &__contacts {
        flex-direction: column;
        width: 243px;
        text-align: center;
        margin-top: 26px;
        margin-left: -10px;

        &__address {
          &__email {
            margin-top: 12px;
          }
        }
        &__rights {
          align-self: unset;
          margin-top: 23px;
          margin-left: 13px;
        }
      }
    }
  }
}
