$primary-text-color: #ffffff;
$secondary-text-color: #464547;
$subtitle-text-color: rgba(255, 255, 255, 0.7);
$main-text-color: #666666;
$footer-text-color: rgba(255, 255, 255, 0.4);
$btn-color: #55c2d8;

$heading-font-family: 'Source Sans Pro';
$body-font-family: 'Oswald';
